div {
    font-family: 'Arial', Arial, sans-serif;
}

body {
    background-color: #FAFAFA;
    margin: 0px;
}

p {
    margin: 0px;
}

.metadata-header {
    position: relative;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F5F7FA;
}

.artist-profile {
    position: absolute;
    left: 100px;
    top: 25%;
    border-radius: 50%;
    display: inline-block;
    height: 260px;
    width: 260px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.artist-name {
    position: absolute;
    left: 490px;
    color: #7F7FD8;
    font-weight: bold;
    font-size: 48px;
}

.navbar {
    position: relative;
    background: #999ACB;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 16px;
    padding-bottom: 16px;
}

#top-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navicon {
    width: 60px;
    height: 60px;
}

.search-bar {
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
    border-radius: 5px;
}

.textfield {
    font-family: 'Arial', Arial, sans-serif;
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    width: 360px;
    height: 40px;
    outline: none;
    border: none;
}

.textfield::placeholder {
    color: #C0CCDA;
}

.search-button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin-right: 15px;
    outline: none;
    border: none;
}

.album-info {
    position: relative;
    left: 400px;
    width: 100%;
    margin-bottom: 104px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.year-container {
    display: block;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
  
.year-text {
    padding: 0px;
    margin: 0px;
    margin-right: 8px;
    font-weight: bold;
    font-size: 36px;
    color: #8492A6;
    transform-origin: center center;
    transform: translateY(50%) rotate(270deg) translateY(50%);
}
  
.content-wrapper {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-left-width: 1px;
    border-left-color: #CCCCCC;
    border-left-style: solid;
    padding-left: 24px;
}

.content-section {
    position: absolute;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-title {
    display: inline-block;
    color: #7F7FD8;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 24px;
    padding-bottom: 4px;
    border-bottom-width: 1.5px;
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: #CCCCCC;
}

.album-list {
    padding-top: 0px;
    padding-left: 64px;
    margin: 0px;
}

.album-songs {
    padding-left: 16px;
}

.album-art {
    margin-left: 16px;
    width: 250px;
    height: 250px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.album-songs li {
    font-size: 17px;
    color: #1F2D3D;
    padding: 4px 0px;
}
