div {
    font-family: 'Arial', Arial, sans-serif;
    color: #1F2D3D;
}

body {
    background-color: #FAFAFA;
    margin: 0px;
}

p {
    font-family: 'Arial', Arial, sans-serif;
    margin: 0px;
    color: #1F2D3D;
}

.navbar {
    position: relative;
    background: #999ACB;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.top-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left-aligned {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navicon {
    width: 60px;
    height: 60px;
}

.search-bar {
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
    border-radius: 5px;
}

.textfield {
    font-family: 'Arial', Arial, sans-serif;
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    width: 360px;
    height: 40px;
    outline: none;
    border: none;
}

.textfield::placeholder {
    color: #C0CCDA;
}

.search-button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin-right: 15px;
    outline: none;
    border: none;
    transition-duration: 0.2s;
}

.search-button:hover {
    opacity: 0.7;
}

.social-button:hover {
    opacity: 0.7;
}

.social-button {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    outline: none;
    transition-duration: 0.2s;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clickable {
    transition-duration: 0.2s;
}

.clickable:hover {
    opacity: 0.7;
    cursor: pointer;
}

.emphasis {
    font-weight: bold;
}

.footer {
    background-color: #EDEDF9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 24px;   
    padding-bottom: 16px;    
}

.footer .subtext {    
    margin-bottom: 8px;
    font-size: 12px;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: #CCCCCC;
}

.link-container {
    display: flex;
    flex-direction: row;
}

.link-list {
    font-size: 14px;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-list p {
    color: #8492A6;
    margin-bottom: 4px;
}

.link-list .emphasis {
    color: #1F2D3D;
    margin-bottom: 8px;
}
