
.content-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 24px;
    padding-left: 96px;
    padding-right: 96px;
}

.album-art {
    height: 260px;
    width: 260px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.social-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.social-button {
    margin-bottom: 8px;
    margin-top: 8px;
}

.song-title {
    font-size: 48px;
    font-weight: bold;
    color: #7F7FD8;
    padding-bottom: 24px;
}

.artist {
    font-size: 30px;
    color: #8492A6;
    padding-bottom: 8px;
}

.featured-artists {
    font-size: 20px;
    color: #8492A6;
    padding-bottom: 24px;
}

.attributes {
    font-size: 16px;
    color: #8492A6;
}

.content {
    margin-left: 72px;
}

.lyrics-container {
    border-top-width: 1px;
    border-top-color: #CCCCCC;
    border-top-style: solid;
    margin-top: 40px;
    margin-right: -80px;
    padding-top: 40px;
}

.lyric-block {
    margin-bottom: 40px;
}

.block-header {
    font-size: 18px;
    color: #8492A6;
    margin-bottom: 10px;
}

.lyrics-list {
    list-style-type: none;
    margin: 0px;    
    padding: 0px;
}

.lyrics-list li {
    margin-bottom: 8px;
}
