
.content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 64px;
    padding-left: 96px;
    padding-right: 96px;
}

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-bottom: 64px;
}

.content-header p {
    font-size: 40px;
    color: #8492A6;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    color: #7F7FD8;
}

.results-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.results-content {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.result-block {
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-img {
    width: 250px;
    height: 250px;
    transition-duration: 0.2s;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result-img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.title {
    margin-top: 24px;
    margin-bottom: 4px;
    font-size: 18px;
}

.subtitle {
    font-size: 16px;
    color: #8492A6;
}

.results-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.see-more-text {
    font-size: 18px;
    color: #8492A6;
    margin-bottom: 8px;
}

.load-icon {
    height: 16px;
}

.results-footer {
    cursor: pointer;
    transition-duration: 0.2s;
}

.results-footer:hover {
    opacity: 0.7;
}

.results-container {
    margin-bottom: 40px;
}
